@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
}

.shaded-box {
  background-color: rgba(0, 0, 0, 0.159);
}

.glyph {
  height: 100px;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@media (min-width: 768px) {
  .off-bounds {
    width: 120vw;
  }

  .rev {
    animation: scroll 5s linear alternate-reverse infinite;
  }

  .fwd {
    animation: scroll 5s linear alternate infinite;
  }
}
